@import "../variables.scss";
.gestor {
  background-color: $color-white;
  margin: 0 auto;
  padding: 1rem;
  .btns {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  button {
    width: 100%;
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.6rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: none;
    color: $color-white;
    @media (min-width: 768px) {
    }
    img {
      height: 100%;
      margin-right: 0.3rem;
    }
  }
  button:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  .btn_entry {
    background-color: $color-second;
    margin-right: 0.3rem;
  }

  .btn_exit {
    background-color: $color-first;
    img {
      transform: rotate(180deg);
    }
  }
}
