@import "../variables.scss";
.login {
  /* Cor de fundo do autocomplete */
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px $color-third-transparent inset;
  }

  /* Cor do texto do autocomplete */
  input:-webkit-autofill {
    -webkit-text-fill-color: $text-color !important;
  }
  background-image: url("../../assets/img/background_login.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1.2rem;
    border-radius: 0.5rem;
    width: 70%;
    height: fit-content;
    background-color: $color-third-transparent;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0px 0px 0.3rem $text-color;
    @media (min-width: 480px) {
      width: 330px;
    }
    h3,
    p {
      text-align: center;
      .link_register {
        font-weight: 500;
      }
      .link_register:hover {
        filter: brightness(1.5);
      }
    }
    .input_login,
    .input_password {
      background-color: $color-second;
      border: 1px solid $color-first;
      border-radius: 0.2rem;
      padding: 0.2rem 0.3rem;
    }
    input:focus-visible {
      outline: none;
    }

    .btn {
      margin-top: 0.3rem;
      background-color: $color-first;
      color: $color-white;
      border: none;
      padding: 0.3rem;
      border-radius: 0.2rem;
      cursor: pointer;
    }
    .btn:hover {
      box-shadow: 0.1rem 0.1rem 1px $color-third;
      filter: brightness(1.1);
    }
    .error {
      color: $color-fourth;
    }
    p {
      display: flex;
      justify-content: space-around;
      margin: 0.5rem auto 0;
      font-size: 0.9rem;
      @media (max-width: 420px) {
        flex-direction: column;
      }
      span {
        margin-right: 0.2rem;
      }
    }
  }
}
