@import "variables";
* {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-color;
}
main {
  min-height: 90vh;
  overflow-x: hidden;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $color-first $color-third;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $color-third;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-first;
  border-radius: 20px;
}
::selection {
  background-color: $color-first;
  color: $color-second;
}
