$font-stack: "Poppins", sans-serif;
$text-color: #110f1b;
$color-first: #242038;
$color-third-transparent: rgb(144, 170, 134, 0.95);
$color-second: #d2d3ba;
$color-third: #90aa86;
$color-white: #fef9ef;
